.green {
	color: green;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

h1 {
    text-align: center;
}

body {
    text-align: center;
}

button {
    background-color: steelgray; /* Green */
    border: 1px solid darkgray;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px;
}
.main {
	padding: 5px;
    margin: 50px;
}

.answer {
	padding: 5px;
    margin: 50px;
}

textarea {
    resize: none;
    width: 500px;
    height: 100px;
}